@charset "UTF-8";

*{box-sizing: border-box;}

@keyframes pisca{
    0%{opacity: 0.2;}
    50%{opacity: 1;}
    100%{opacity: 0.2;}
}

body{
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.urna{
    background-color: #dbd5c9;
    padding: 40px;
    display: flex;
}

.tela{
    width: 500px;
    height: 320px;
    border: 5px solid #555;
    background: linear-gradient(to right, #E8E8E8, #C1C1C1);
    display: flex;
    flex-direction: column;
}

.teclado{
    background-color: #403a3a;
    margin-left: 30px;
    padding: 10px;
    grid-template-columns: repeat(3, 1fr);
    display: grid;
    justify-content: center;
    align-items: flex-end;
    gap: 20px;
}

.teclado--botao{
    width: 70px;
    height: 40px;
    background-color: black;
    color: white;
    font-size: 25px;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 3px 3px 0px #777;
}

.teclado--botao.zero{
    grid-column: 2/3;
    grid-row: 4/5;
}

.teclado--botao.botao--branco{
    grid-row: 5/6;
    grid-column: 1/2;
    font-size: 15px;
    background-color: white;
    color: black;
    width: 90px;
    text-align: center;
}

.teclado--botao.botao--corrige{
    grid-row: 5/6;
    grid-column: 2/3;
    font-size: 15px;
    background-color: #F09046;
    color: black;
    width: 90px;
    text-align: center;
}

.teclado--botao.botao--confirma{
    grid-row: 5/6;    
    grid-column: 3/4;
    font-size: 15px;
    background-color: #48c079;
    color: black;
    text-align: center;
    text-align: center;
    width: 90px;
}

.d-1{   
    flex: 1;
    display: flex;
}

.d-1-left{
    display: flex;
    flex-direction: column;
    flex: 1;
    padding-left: 20px;
}

.d-1-1{
    height: 50px;
    display: flex;
    align-items: center;
}

.d-1-2{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.d-1-3{
    height: 50px;
    display: flex;
    align-items: center;
}

.numero{
    width: 30px;
    height: 40px;
    border: 2px solid black;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}

.pisca{
    animation-name: pisca;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.d-1-4{
    flex: 1;
    line-height: 30px;
}


.d-1-right{
    width: 90px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.d-1-image{
    border: 1px solid black;
    background-color: white;
    text-align: center;
}

.d-1-image.small{
    width: 80%;
    font-size: 12px;
}

.d-1-image img{
    width: 100%;
}


.d-2{
    height: 50px;
    font-size: 13px;
    border-top: 2px solid black;
    padding-left: 15px;
}

@media (max-width: 960px){
    .urna{
        flex-direction: column;
    }

    .teclado{
        margin: auto;
    }

    .tela{
        background: linear-gradient(to right, blue, aqua);
    }
}